* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
  padding:0;
  margin: 0;
}


nav{
  width:97.9%;
  padding:1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  background-color: white;
  top:0%;
  z-index: 10;

  box-shadow:0px 0px 10px black; 
}


.carousel{
  height:70vh;
}


a{
  text-decoration:none;
  color:black;
  margin:1rem;
}
.title-web{
  cursor:pointer;
}
main{
  width:70%;
  display: flex;
  justify-content: flex-end;
}
.header-navs{
  animation-delay:1s;

}
.header-navs>a:hover{
  border-bottom:1px solid darkgreen;
  color:darkgreen;
  animation: forwards 0.7s linear infinite alternate;

}

.news{
  height:70vh;
  width:100%;
  margin-top:6rem;
  display: flex;
}
.news>div{
  width:70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding:2rem;
  border-radius:0px 250px 250px 0px;
  overflow:hidden;

}

.news>div>h1{
  text-transform: uppercase;
  text-align:center;
  width:fit-content;
  margin: 0px auto;
  border-bottom: 3px solid black;
  padding:0.5rem;
}

.news-items {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 50px;
}

.news-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.news-items li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

@media (max-width: 700px) {
  .news-items {
    font-size: 14px;
  }

  .news-items li {
    padding: 10px;
  }
}


.partner-group{
  height:50vh;
  width:100%;
  margin-top:8rem;
  display: flex;
}

.partner-group>div{
  display:flex;
  background-color: #5853ff;
  color:white;
  position: absolute;
  right:0;
  width:70%;
  height:50vh;
  border-radius: 200px 0 0 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partner-group>div>h1{
  text-transform:uppercase;
  width: 25%;
  border-bottom: 3px solid white;
  text-align:center;
}

.partners{
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners>div{
  display: flex;
  align-items: center;
  justify-content: center;
  height:180px;
  width:180px;
  /* border: 3px solid black; */
  border-radius:50%;
  margin:2rem;
  background-color: white;
  animation: imgUp 0.7s linear infinite alternate;
  cursor:pointer;

}
.partners>div>img{
  height:100%;
  width:100%;
  border-radius:50%;
}

.products {
  width: 80%;
  height:70vh;
  margin: 8rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 20px;
  padding:2rem;
  justify-content: center;
  overflow-y: scroll;
}

.prd{
  margin-bottom:1.5rem;
  width:100%;
  height:50px;
}
.products>div{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap:2rem;
}

.product{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.product{
  width: 25%;
  padding: 1em;
  box-sizing: border-box;
  background-color: white;
  margin-left:1rem;
  border-radius:12px;
  height: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.086);
}

.product> img {
  border-radius: 5px;
  object-fit:contain;
}

.product h2 {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

.product> a {
  display: block;
  margin-top: 1em;
  text-align: center;
}

.product>a> button {
  padding: 0.5em 1em;
  width: 100px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.product>a> button:hover {
  background-color: #57c7e6;
}


.footer-area{
  position:absolute;
  width:100%;
  /* bottom:0px; */
  background-color: #000000;
  height:15vh;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}


.community-parent-container{
  margin-top: 120px;
  width:100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; 
}

.profile-details{
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 255, 157);
  width:70vw;
  height: 70vh;
  border-radius: 8px;
  overflow-y: scroll;
  
}
.msg-parent{
  position: relative;
  display: flex;
  /* align-items: center; */
  margin:15px 30px 15px 30px;
  width: 60vw;
  padding: 20px;
  background-color: rgba(117, 117, 117, 0.781);
  box-shadow: 1px 1px 15px rgb(207, 207, 207);
  border-radius: 8px;
}

.details{
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  /* align-items: center;
  text-align: center; */
}

.details>img{
  width:80px;
  height:80px;
  border-radius: 50%;
  margin-right:50px;
}

.msg-form{
  /* height:300px; */
  width:70vw;
  background-color: rgb(232, 255, 157);
}
.realmsg{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msg-input{
  width:50vw;
  height:10vh;
  padding:5px;
  outline:none;
  border-radius: 12px;
  font-size: 1.2rem;
  /* height:30px; */
}

.msg-details{
  position: absolute;
  right:12px;
  bottom: 12px;
  font-size:12px;
}
.msg-img{
  width: 60%;
  border:solid 5px #ffffff;
  border-radius: 12px;
}
.msg-content{
  background-color: #FFFFFF;
  padding:10px;
}

.product-component{
  overflow: hidden;
}
.product-component>a>button{
  padding:5px 20px;
  border-radius:6px;
  border:none;
  background:rgb(40, 125, 40);
  color:white;
  margin:10px 0px;
}



.formContainer{
  background-image: url(/src/Images/bg.jpeg); 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:77vh;
}
.formWrapper{
  background-color: white;
  gap:10px;
  display: flex;
  flex-direction: column;
  align-items:center;
  
  border-radius: 12px;;
  padding:30px 40px;
}
.formWrapper>form{
  display: flex;
  flex-direction: column;
  gap:15px;
}
.logo{
  color: rgba(10, 116, 42, 0.86);
  font-weight:bolder;
  font-size:24px;
}
.title{
  color: rgba(10, 116, 42, 0.86);
  font-size:15px;
}
.formWrapper>form>input{
  padding:15px;
  border:none;
  border-bottom:1px solid #628d736f;
  outline:none;
}
.formWrapper>form>input::placeholder{
  color:rgb(222, 222, 222);
}
.formWrapper>form>button{
  background-color: #1f723c;
  color:white;
  cursor:pointer;
  border:none;
  font-weight: bold;
  padding:8px;
  font-size:1.01rem;
}
.formWrapper>p{
  color:rgb(12, 112, 54);
  font-size:12px;
  margin:10px;
}
.formWrapper>form>label{
  cursor:pointer;
  font-size:12px;

}

.formWrapper>form>label>img{
  position: relative;
  top:7px;
  width:20px;
}



.commHome{
  height: 85vh;
  background-image: url(/src/Images/bg.jpeg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  border: 1px solid white;
  border-radius:10px;
  width:70%;
  height:90%;
  display:flex;
  overflow: hidden;
}

.sidebar{
  flex:1;
  border-right: 1px solid #3e3c61;
  background-color:#3e3c61;
}
.chat{
  flex:2;
}
.navbar{
  display: flex;
  align-items: center;
  background-color: #323150;
  height: 50px;
  padding:10px;
  justify-content: space-between;
  color:white;
}
.logo-nav{font-weight: bold;}
.user{
  display: flex;
  gap:10px;
}
.user>img{
  background-color:white;
  height: 24px;
  width:24px;
  border-radius: 50%;
  object-fit: cover;
}
.user>button{
  background-color: #5d5b8d;
  color:white;
  font-size:10px;
  border:none;
  cursor:pointer;
}

.userChat{
  display: flex;
  gap:10px;
  color:white;
  padding:10px;
  cursor:pointer;
}
.userChat:hover{
  background-color: #323050;
}
.userChat>img{
  width:50px;
  height:50px;
  border-radius: 50%;
  object-fit:cover;
}
.search{
  border-bottom:1px solid rgb(138, 137, 137);
}
.input-search>input{
  background-color:#323142;
  border:none;
  outline:none;
  padding:0.5rem;
  color:white;
  width:100%;
  border-bottom:.5px solid rgba(138, 138, 138, 0.552);
}
.chats{
  height: auto;
  overflow-y:scroll;
}
.userChatInfo>span{
  font-size:1.09rem;
  font-weight:bold;
}
.userChatInfo>p{
  margin:0;
  color:rgba(255, 254, 254, 0.456);
}
.chatInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:70px;
  background-color: #9895f6;
  color:white;
  font-size:20px;
  padding-left:12px;
}
.chatInfo>div{
  display: flex;
  align-items: center;
}
.user-img{
  width:3rem;
  height:3rem;
  border-radius: 50%;
  padding: 10px;
  object-fit: cover;
}
.chatIcons>img{
  height:20px;
  width:20px;
  object-fit:cover;
  margin:10px;
  cursor:pointer;
}

.messages{
  background-color: #ddddf7;
  padding:10px;
  height: calc(100% - 160px);
  overflow-y: scroll;
}

.input{
  height: 50px;
  background-color: white;
  padding:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input>input{
  width: 100%;
  border:none;
  outline: none;
  font-size:18px;
  color:#2f2d52;
}
.sendmsg{
  display: flex;
  align-items: center;
  gap:15px;
}
.img-send{
  cursor:pointer;
  width: 24px;
  height:24px;
}
.sendmsg>button{
  cursor: pointer;
  border:none;
  padding:10px 15px;
  color:white;
  background-color: #9895f6;
}

.message{
  display: flex;
  gap:20px;
}
.messageInfo{
  display: flex;
  flex-direction: column;
  color:grey;
  font-size:12px;
  font-weight: 300;
  margin-bottom: 30px;
}
.messageInfo>img{
  width:40px;
  height:40px;
  border-radius: 50%;
  object-fit: cover;
}
.messageContent{
  max-width:80%;
  display: flex;
  flex-direction:column;
  gap:10px;
}
.messageContent>img{
  width:100%;

}
.messageContent>p{
  background-color: white;
  padding:10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}
.owner{
  display: flex;
  flex-direction:row-reverse;
}
.owner>.messageContent{
  align-items: flex-end;
}
.owner>.messageContent>p{
  background-color: #9895f6;
  color:white;
  border-radius: 10px 0px 10px 10px;
}

.contact-parent{
  height:100vh;
  width:98.9vw;
  display: flex;
  justify-content: center;
  background-color:#2f2d52;
}
.contact{
  background-color: white;
  margin:3rem;
  display:flex;
  width:70vw;
  height:60vh;
  flex-direction: column;
  align-items: center;
  border-radius:0 150px 150px 0;
  padding-top:50px;
}
.contact>h2{
  color:black;
  margin-top:2rem;
  position:relative;
}

.inputs{
  margin-top: 2rem;
}
.inputs>div>input{
 width:300px;
  margin-top:15px;
  padding:10px;
  border-radius: 4px;
  outline:none;
  border: 0.5px solid rgb(98, 98, 98);
  margin-left:3rem;
}
.email{
  margin-left:0.3rem;
}
.message-contact{
  margin-left: -1.4rem;
}
.inputs>div{
  display: flex;
  align-items: center;
}
.inputs>button{
  margin:30px;
}
.send{
  display: flex;
  align-items:center;
  justify-content: center;
}
.send{
  padding:0.5rem;
  border-radius:6px;
  border:none;
  cursor: pointer;
  font-size:larger;
  width:100px;
  display: flex;
  justify-content: center;
  background-color:#8b87fb;
  color:white;
  transition-delay:0.1s;
  margin-top:15px;
}

.send:hover{
  background-color:#7e7afd;
}



@keyframes imgUp{
  to{
    transform:translateY(-10px);
  }
}


@media screen and (max-width:700px){
  .contact{
    border-radius:0;
    width:100vw;
    height:90vh;
    align-items: center;
  }
  .inputs, .name, .message-contact, .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
  }
  
}